[mysqld]
server-id               = 1
log_bin                 = /var/log/mysql/mysql-bin.log
log_error               = /var/log/mysql/error.log
bind-address            = 0.0.0.0
mysqlx-bind-address     = 127.0.0.1
binlog_format           = row
gtid-mode               = ON
enforce-gtid-consistency 
log-replica-updates
