[paths]
[server]
http_port = {{grafana_http_port}}
[database]
[datasources]
[remote_cache]
[dataproxy]
[analytics]
[security]
admin_user = {{grafana_admin_user}}
admin_password = {{grafana_admin_password}}
admin_email = {{grafana_admin_email}}
[security.encryption]
